[submodule "PIMLibrary"]
	path = PIMLibrary
	url = https://github.com/SAITPublic/PIMLibrary.git
[submodule "PIMSimulator"]
	path = PIMSimulator
	url = https://github.com/SAITPublic/PIMSimulator.git
[submodule "PIMMock"]
	path = PIMMock
	url = https://github.com/SAITPublic/PIMMock.git
[submodule "PimPyLibrary"]
	path = PimPyLibrary
	url = https://github.com/SAITPublic/PimPyLibrary.git
[submodule "PIMPatches"]
	path = PIMPatches
	url = https://github.com/SAITPublic/PIMPatches.git
[submodule "SYCL-Extension-Document"]
	path = SYCL-Extension-Document
	url = https://github.com/SAITPublic/SYCL-Extension-Document.git
