[submodule "PIMLibrary"]
	path = PIMLibrary
	url = https://github.com/SAITPublic/PIMLibrary.git
[submodule "PIMSimulator"]
	path = PIMSimulator
	url = https://github.com/SAITPublic/PIMSimulator.git
[submodule "PIMMock"]
	path = PIMMock
	url = https://github.com/SAITPublic/PIMMock.git
[submodule "PimPyLibrary"]
	path = PimPyLibrary
	url = https://github.com/SAITPublic/PimPyLibrary.git
